{% extends "base-auth.html" %}

{% block content %}

<form class="form-horizontal auth-form" action="{% url 'user_create' %}{% if request.GET.urlencode %}?{{ request.GET.urlencode }}{% endif %}" method="post">
  {% csrf_token %}
  <div class="form-group">
    <div class="row {% if form.username.errors %}has-error{% endif %}">
      <div class="col-md-12">
        <input type="text" class="form-control" id="username" name="username" placeholder="Username" value="{{ form.username.value|default_if_none:'' }}" autofocus required>
        {% if form.username.errors %}
        {% for error in form.username.errors %}
        <label class="control-label" for="username">{{ error }}</label>
        {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row {% if form.password2.errors %}has-error{% endif %}">
      <div class="col-md-12">
        <input type="password" class="form-control" id="password1" name="password1" placeholder="Password" required>
        {% if form.password2.errors %}
        {% for error in form.password2.errors %}
        <label class="control-label" for="password1">{{ error }}</label>
        {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-md-12">
        <input type="password" class="form-control" id="password2" name="password2" placeholder="Confirm Password" required>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-md-12">
        <input type="submit" value="Sign up" class="btn btn-default">
        <a href="{% url 'user_sign_in' %}{% if request.GET.urlencode %}?{{ request.GET.urlencode }}{% endif %}" class="btn btn-default">Already Have an Account?</a>
      </div>
    </div>
  </div>
</form>

{% endblock content %}
