{% extends "base.html" %}
{% load static %}
{% load tz %}

{% block breadcrumb %}
<ol class="breadcrumb">
  <li class="active">Projects</li>
</ol>
{% endblock breadcrumb %}

{% block content %}
<br>

<div class="row">
  <div class="col-md-4">
    <form role="form" id="preferences-form" action="{% url 'projects_retrieve_project_create' %}" method="post">
      {% csrf_token %}
      <div class="row {% if form.name.errors or form.non_field_errors %}has-error{% endif %}">
        <div class="col-md-6">
          <input type="text" class="form-control" id="name" name="name" placeholder="Project Name" value="{{ form.name.value|default_if_none:'' }}" autofocus required>
          {% if form.name.errors %}
          {% for error in form.name.errors %}
          <label class="control-label margin-top-7" for="name">{{ error }}</label>
          {% endfor %}
          {% endif %}
          {% if form.non_field_errors %}
          {% for error in form.non_field_errors %}
          <label class="control-label margin-top-7" for="name">{{ error }}</label>
          {% endfor %}
          {% endif %}
        </div>
        <div class="col-md-1">
          <button type="submit" class="btn btn-primary">Create Project</button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="row">
  <div class="col-md-5">
    <div class="table-responsive">
      <h4 class="margin-bottom-15">My Projects</h4>
      <table class="table table-striped table-hover table-bordered rounded">
        <thead>
          <tr>
            <th>Name</th>
            <th style="width: 8%">Files</th>
            <th style="width: 17%">Collaborators</th>
            <th style="width: 28%">Created At</th>
            <th style="width: 19%"></th>
          </tr>
        </thead>
        <tbody>
          {% for project in projects.all|dictsortreversed:"created_at" %}
          <tr>
            <td><a href="{% url 'project_retrieve_file_create' project.pk %}">{{ project.name }}</a></td>
            <td style="width: 8%">{{ project.files.all|length }}</td>
            <td style="width: 17%">{{ project.collaborators.all|length }}</td>
            <td style="width: 28%">{% timezone "Asia/Tehran" %}{{ project.created_at|date:"M j, Y, h:i A" }}{% endtimezone %}</td>
            <td style="width: 19%">
              <form role="form" action="{% url 'project_destroy' project.pk %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger btn-xs">Delete</button>
                <button type="button" class="btn btn-primary btn-xs" onclick="copyToClipboard(this, '{% url 'project_retrieve_file_create' project.pk %}')">Share</button>
              </form>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <div class="col-md-7">
    <div class="table-responsive">
      <h4 class="margin-bottom-15">Collaborated Projects</h4>
      <table class="table table-striped table-hover table-bordered">
        <thead>
          <tr>
            <th>Name</th>
            <th style="width: 6%">Files</th>
            <th style="width: 12%">Collaborators</th>
            <th style="width: 16%">Owner</th>
            <th style="width: 20%">Joined At</th>
            <th style="width: 13%"></th>
          </tr>
        </thead>
        <tbody>
          {% for project_collaboration in project_collaborations.all|dictsortreversed:"created_at" %}
          <tr>
            <td><a href="{% url 'project_retrieve_file_create' project_collaboration.project.pk %}">{{ project_collaboration.project.name }}</a></td>
            <td style="width: 6%">{{ project_collaboration.project.files.all|length }}</td>
            <td style="width: 12%">{{ project_collaboration.project.collaborators.all|length }}</td>
            <td style="width: 16%">{{ project_collaboration.user.username }}</td>
            <td style="width: 20%">{% timezone "Asia/Tehran" %}{{ project_collaboration.created_at|date:"M j, Y, h:i A" }}{% endtimezone %}</td>
            <td style="width: 13%">
              <form role="form" action="{% url 'project_collaboration_destroy' project_collaboration.project.pk %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger btn-xs">Leave</button>
                <button type="button" class="btn btn-primary btn-xs" onclick="copyToClipboard(this, '{% url 'project_retrieve_file_create' project_collaboration.project.pk %}')">Share</button>
              </form>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock content %}

{% block scripts %}
<script src="{% static 'js/copy-to-clipboard.js' %}"></script>
{% endblock scripts %}
