{% extends "base.html" %}
{% load static %}
{% load tz %}

{% block breadcrumb %}
<ol class="breadcrumb">
  {% if not is_project_owner %}
  <li class="active">{{ project.owner.username }}</li>
  <li class="active">Projects</li>
  {% else %}
  <li class="active"><a href="{% url 'projects_retrieve_project_create' %}">Projects</a></li>
  {% endif %}
  <li class="active">{{ project.name }}</li>
</ol>
{% endblock breadcrumb %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <h1>{{ project.name }}</h4>
    <h6 class="mt-16">
			Created By {% if is_project_owner %} You {% else %} {{ project.owner.username }} {% endif %} At {{ project.created_at }}
		</h6>
    {% if is_project_owner %}
    <form
			role="form"
			action="{% url 'project_destroy' project.pk %}"
			method="post"
			class="project-user-actions mt-16"
		>
			{% csrf_token %}
			<button type="submit" class="btn btn-danger">Delete Project</button>
			<button
				type="button"
				class="btn btn-primary"
				onclick="copyToClipboard(this, '{% url 'project_retrieve_file_create' project.pk %}')"
			>
				Share
			</button>
    </form>
    {% else %}
    <form
			role="form"
			action="{% url 'project_collaboration_destroy' project.pk %}"
			method="post"
			class="project-user-actions mt-16"
		>
      {% csrf_token %}
      <button type="submit" class="btn btn-danger">Leave Project</button>
      <button
				type="button"
				class="btn btn-primary"
				onclick="copyToClipboard(this, '{% url 'project_retrieve_file_create' project.pk %}')"
			>
				Share
			</button>
    </form>
    {% endif %}
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <form
			role="form"
			action="{% url 'project_retrieve_file_create' project.pk %}"
			method="post"
			enctype="multipart/form-data"
			class="add-file-form"
		>
      {% csrf_token %}
      <div class="{% if form.name.errors or form.non_field_errors %}has-error{% endif %}">
				<p class="mb-0">Create a new file or choose an existing one:</p>
        <div>
          <input
						type="text"
						class="form-control"
						id="name"
						name="name"
						placeholder="File Name"
						value="{% if form.errors %}{{ form.name.value|default_if_none:'' }}{% endif %}"
						autofocus
					>
						{% if form.non_field_errors %}
							{% for error in form.non_field_errors %}
								<label class="control-label mt-8 mb-0" for="name">{{ error }}</label>
							{% endfor %}
						{% endif %}
        </div>
        <div>
          <input type="file" name="file">  <!-- TODO: filename exceeds its container -->
        </div>
				{% if form.name.errors %}
					<div>
						{% for error in form.name.errors %}
							<label class="control-label mb-0" for="name">{{ error }}</label>
						{% endfor %}
					</div>
				{% endif %}
        <div>
          <button type="submit" class="btn btn-primary btn-sm">Add File</button>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="tables-container">
	<div style="min-width: 66.666%;">
		<h4>Files</h4>
		<div class="mt-16 table-responsive">
			<table class="table table-striped table-hover table-bordered">
				<thead>
					<tr>
						<th>Name</th>
						<th>Created At</th>
						<th>Created By</th>
						{% if project.files.length %}
							<th></th>
						{% endif %}
					</tr>
				</thead>
				<tbody>
					{% for file in project.files.all|dictsort:"name" %}
					<tr>
						<td><a href="{% url 'file_retrieve' file.pk %}">{{ file.name }}</a></td>
						<td>
							{% timezone "Asia/Tehran" %}{{ file.created_at|date:"M j, Y, h:i A" }}{% endtimezone %}
						</td>
						<td>{{ file.creator.username }}</td>
						<td>
							<form
								role="form"
								action="{% url 'file_destroy' file.pk %}"
								method="post"
								class="table_row_user-actions"
							>
								{% csrf_token %}
								<button type="submit" class="btn btn-danger btn-xs">Delete</button>
								<a class="btn btn-primary btn-xs" href="{% url 'file_history_retrieve' file.pk %}">
									History
								</a>
								<button
									type="button"
									class="btn btn-primary btn-xs"
									onclick="copyToClipboard(this, '{% url 'file_retrieve' file.pk %}')"
								>
									Share
								</button>
							</form>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	<div>
		<h4>Collaborators</h4>
		<div class="mt-16 table-responsive">
			<table class="table table-striped table-hover table-bordered">
				<thead>
					<tr>
						<th>Username</th>
						<th>Joined At</th>
					</tr>
				</thead>
				<tbody>
					{% for project_collaboration in project.project_collaborations.all|dictsortreversed:"created_at" %}
					<tr>
						<td>{{ project_collaboration.user.username }}</td>
						<td>
							{% timezone "Asia/Tehran" %}{{ project_collaboration.created_at|date:"M j, Y, h:i A" }}{% endtimezone %}
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock content %}

{% block scripts %}
<script src="{% static 'js/copy-to-clipboard.js' %}"></script>
{% endblock scripts %}
