{% extends "base.html" %}
{% load static %}
{% load tz %}

{% block breadcrumb %}
<ol class="breadcrumb">
  {% if not is_project_owner %}
  <li class="active">{{ project.owner.username }}</li>
  <li class="active">Projects</li>
  {% else %}
  <li class="active"><a href="{% url 'projects_retrieve_project_create' %}">Projects</a></li>
  {% endif %}
  <li class="active">{{ project.name }}</li>
</ol>
{% endblock breadcrumb %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <h1 class="margin-bottom-15">{{ project.name }}</h4>
    <h6 class="margin-bottom-15">Created By {% if is_project_owner %} You {% else %} {{ project.owner.username }} {% endif %} At {{ project.created_at }}</h6>
    {% if is_project_owner %}
    <form role="form" id="preferences-form" action="{% url 'project_destroy' project.pk %}" method="post">
      {% csrf_token %}
      <button type="submit" class="btn btn-danger">Delete Project</button>
      <button type="button" class="btn btn-primary" onclick="copyToClipboard(this, '{% url 'project_retrieve_file_create' project.pk %}')">Share</button>
    </form>
    {% else %}
    <form role="form" id="preferences-form" action="{% url 'project_collaboration_destroy' project.pk %}" method="post">
      {% csrf_token %}
      <button type="submit" class="btn btn-danger">Leave Project</button>
      <button type="button" class="btn btn-primary" onclick="copyToClipboard(this, '{% url 'project_retrieve_file_create' project.pk %}')">Share</button>
    </form>
    {% endif %}
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <form role="form" id="preferences-form" action="{% url 'project_retrieve_file_create' project.pk %}" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="row {% if form.name.errors or form.non_field_errors %}has-error{% endif %}">
        <div class="col-md-5">
          <input type="text" class="form-control" id="name" name="name" placeholder="File Name" value="{{ form.name.value|default_if_none:'' }}" autofocus>
          {% if form.name.errors %}
          {% for error in form.name.errors %}
          <label class="control-label margin-top-7" for="name">{{ error }}</label>
          {% endfor %}
          {% endif %}
          {% if form.non_field_errors %}
          {% for error in form.non_field_errors %}
          <label class="control-label margin-top-7" for="name">{{ error }}</label>
          {% endfor %}
          {% endif %}
        </div>
        <div class="col-md-1">
          <h5>or</h5>
        </div>
        <div class="col-md-5">
          <input class="margin-top-7" type="file" name="file">  <!-- TODO: filename exceeds its container -->
        </div>
        <div class="col-md-1">
          <button type="submit" class="btn btn-primary btn-sm">Add File</button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="table-responsive">
      <h4 class="margin-bottom-15">Files</h4>
      <table class="table table-striped table-hover table-bordered">
        <thead>
          <tr>
            <th>Name</th>
            <th style="width: 23%">Created At</th>
            <th style="width: 18%">Created By</th>
            <th style="width: 23%"></th>
          </tr>
        </thead>
        <tbody>
          {% for file in project.files.all|dictsort:"name" %}
          <tr>
            <td><a href="{% url 'file_retrieve' file.pk %}">{{ file.name }}</a></td>
            <td style="width: 23%">{% timezone "Asia/Tehran" %}{{ file.created_at|date:"M j, Y, h:i A" }}{% endtimezone %}</td>
            <td style="width: 18%">{{ file.creator.username }}</td>
            <td style="width: 23%">
              <form role="form" action="{% url 'file_destroy' file.pk %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger btn-xs">Delete</button>
                <a class="btn btn-primary btn-xs" href="{% url 'file_history_retrieve' file.pk %}">History</a>
                <button type="button" class="btn btn-primary btn-xs" onclick="copyToClipboard(this, '{% url 'file_retrieve' file.pk %}')">Share</button>
              </form>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <div class="col-md-3">
    <div class="table-responsive">
      <h4 class="margin-bottom-15">Collaborators</h4>
      <table class="table table-striped table-hover table-bordered">
        <thead>
          <tr>
            <th>Username</th>
            <th>Joined At</th>
          </tr>
        </thead>
        <tbody>
          {% for project_collaboration in project.project_collaborations.all|dictsortreversed:"created_at" %}
          <tr>
            <td>{{ project_collaboration.user.username }}</td>
            <td>{% timezone "Asia/Tehran" %}{{ project_collaboration.created_at|date:"M j, Y, h:i A" }}{% endtimezone %}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock content %}

{% block scripts %}
<script src="{% static 'js/copy-to-clipboard.js' %}"></script>
{% endblock scripts %}
