{% extends "base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/404.css' %}">
{% endblock head %}

{% block content %}
  <div class="row"> 
    <div class="col-sm-12 text-center">
      <div class="container">
        <h1>404</h1>
        <h2>Look like you're lost</h2>
        <p>The page you are looking for is not avaible!</p>
        <a href="{% url 'projects_retrieve_project_create' %}" class="link-404">Go to All Projects</a>
      </div>
    </div>
  </div>
{% endblock content %}
