{% load static %}

<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}{% endblock title %}</title>
  <meta name="viewport" content="width=device-width">        
  <link rel="stylesheet" href="{% static 'css/auth.css' %}">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open Sans:300,400,700">
  {% block head %}{% endblock head %}
</head>
<body>
  <div class="auth-container">
    <div class="auth-content">
      {% block content %}{% endblock content %}
    </div>
  </div>

  <script>
    const getViewportHeight = () => (
			window.innerHeight || document.documentElement.clientHeight
		);

		const setDocumentViewportHeight = () => (
			document.documentElement.style.setProperty(
				'--viewport-height', `${getViewportHeight()}px`
			)
		);
		
		setDocumentViewportHeight();
		window.addEventListener('resize', setDocumentViewportHeight);
  </script>
</body>
</html>
