{% load static %}

<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}{% endblock title %}</title>
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open Sans:300,400,700">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=JetBrains Mono">
  {% block head %}{% endblock head %}
</head>

<body>
  <div class="template-page-wrapper">
    <aside class="sidebar">
      <ul class="sidebar-menu">
        <li class="sidebar-menu-item sidebar-menu-item--user-info">
					<i class="fa fa-user"></i><span id="user-username" title="{{ user.username }}">
						{{ user.username }}
					</span>
				</li>
        <hr class="sidebar-menu_hr">
        <li class="sidebar-menu-item">
					<a href="{% url 'projects_retrieve_project_create' %}" class="sidebar-menu-item_link">
						<i class="fa fa-database"></i>All Projects
					</a>
				</li>
        <li class="sidebar-menu-item sub">
          <a href="javascript:;" class="sidebar-menu-item_link sidebar-menu-item_link--sub-menu">
						<span><i class="fa fa-database"></i>My Projects</span>
						<span class="caret">
          </a>
          <ul class="sidebar-menu-item_sub-menu">
            {% if projects %}
            {% for project in projects.all|dictsortreversed:"created_at" %}
            <li>
							<a
								href="{% url 'project_retrieve_file_create' project.pk %}"
								class="sidebar-menu-item_link"
							>
								{{ project.name }}
							</a>
						</li>
            {% endfor %}
            {% else %}
            <li><a class="sidebar-menu-item_link"></a></li>
            {% endif %}
          </ul>
        </li>
        <li class="sidebar-menu-item sub">
          <a href="javascript:;" class="sidebar-menu-item_link sidebar-menu-item_link--sub-menu">
						<span><i class="fa fa-database"></i>Collaborated Projects</span>
						<span class="caret">
          </a>
          <ul class="sidebar-menu-item_sub-menu">
            {% if project_collaborations %}
            {% for project_collaboration in project_collaborations.all|dictsortreversed:"created_at" %}
            <li>
							<a
								href="{% url 'project_retrieve_file_create' project_collaboration.project.pk %}"
								class="sidebar-menu-item_link"
							>
								{{ project_collaboration.project.name }}
							</a>
						</li>
            {% endfor %}
            {% else %}
            <li><a class="sidebar-menu-item_link"></a></li>
            {% endif %}
          </ul>
        </li>
        <!-- <li><a href="#"><i class="fa fa-cog"></i>Settings</a></li> -->  <!-- TODO: to be implemented -->
        <li class="sidebar-menu-item sidebar-menu-item--danger">
					<a href="{% url 'user_sign_out' %}" class="sidebar-menu-item_link">
						<i class="fa fa-sign-out"></i>Sign Out
					</a>
				</li>
      </ul>
    </aside>
		<header class="header">
			<i class="fa fa-navicon" aria-hidden="true" onclick="openNav()"></i>
			<i class="fa fa-times" aria-hidden="true" onclick="closeNav()"></i>
			<div class="header_breadcrumb-container">
				{% block breadcrumb %}{% endblock breadcrumb %}
			</div>
		</header>
    <div class="content-wrapper">
      <main class="content">
        {% block content %}{% endblock content %}
      </main>
    </div>
  </div>
	<div class="overlay"></div>

  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/sidebar-menu.js' %}"></script>
  <script>
    const authenticatedUserUsername = document.getElementById('user-username')
			.textContent;
		const sidebar = document.querySelector('.sidebar');
		const header = document.querySelector('.header');
		const contentWrapper = document.querySelector('.content-wrapper');
		const overlay = document.querySelector('.overlay');
		const openNavIcon = document.querySelector('.header .fa-navicon');
		const closeNavIcon = document.querySelector('.header .fa-times');

		const getViewportHeight = () => (
			window.innerHeight || document.documentElement.clientHeight
		);

		const setDocumentViewportHeight = () => (
			document.documentElement.style.setProperty(
				'--viewport-height', `${getViewportHeight()}px`
			)
		);
		
		const setContentWrapperPaddingTop = () => (
			contentWrapper.style.paddingTop = `${header.offsetHeight}px`
		);
			
		const handleResize = () => {
			setDocumentViewportHeight();
			setContentWrapperPaddingTop();
		};

		const openNav = () => {
			header.style.backgroundColor = '#fff';
			overlay.style.display = 'block';
			overlay.style.backgroundColor = 'rgba(0,0,0,0.4)';
			sidebar.classList.add('sidebar--open');
			openNavIcon.style.display = 'none';
			closeNavIcon.style.display = 'flex';
		};
		
		const closeNav = () => {
			header.style.backgroundColor = 'transparent';
			overlay.style.backgroundColor = 'rgba(0,0,0,0)';
			setTimeout(() => {
				overlay.style.display = 'none';
			}, 500);
			sidebar.classList.remove('sidebar--open');
			closeNavIcon.style.display = 'none';
			openNavIcon.style.display = 'flex';
		};
		
		const handleClick = event => {
			if (
				!sidebar.contains(event.target)
				&& !openNavIcon.contains(event.target)
				&& !closeNavIcon.contains(event.target)
				) {
				closeNav();
			}
		};
		
		handleResize();
		window.addEventListener('resize', handleResize);
		document.addEventListener('mousedown', handleClick);
		document.addEventListener('touchstart', handleClick);
  </script>
  {% block scripts %}{% endblock scripts %}
</body>
</html>
